@using EntityLayer
@model çalışanlar
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddÇalışanlar</title>
</head>
<body>
    <div class="form-container">
        <form method="post">
            <label>Ad</label>
            <input type="text" asp-for="ad" class="form-control" />
            <br />
            <label>Soyad</label>
            <input type="text" asp-for="soyad" class="form-control" />
            <br />
            <label>Alan</label>
            <input type="text" asp-for="alan" class="form-control" />
            <br />
            <label>Mail</label>

            <input type="text" asp-for="mail" class="form-control" />
            <br />
            <button type="submit">Add Çalışanlar</button>
        </form>
    </div>
</body>
</html>
